name: build

on:
  pull_request:
  push:
    branches:
      - master
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - name: npm install, build, and test
        run: |
          npm ci
          npm run build
          npm run format:check
          npm run lint
          npm run test
          /bin/bash e2e/setup.sh
          npm run e2e
        env:
          CI: true
